<meta name="title" content="Path of Good Intent - What goes around may not come around." />
<meta name="description" content="A board game for want-to-be adults made by wannabe adults. Coming sometime in 2019, we think." />
<meta name="theme-color" content="#222222"/>
<meta property="og:title" content="Path of Good Intent - A board game for want-to-be adults made by wannabe adults." />
<meta property="og:description" content="A board game for want-to-be adults made by wannabe adults. Coming sometime in 2019, we think." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.pathofgoodintent.com" />
