<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128972245-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128972245-1');
  </script>

  <link href="https://gmpg.org/xfn/11" rel="profile" />

  <!-- Adobe Font -->
  <link rel="stylesheet" href="https://use.typekit.net/qeb6hfu.css">

  <!-- CSS loading for buttons -->
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/loading.min.css" | relative_url }}"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  {% include google-analytics.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% include font-includes.html %}

  <!-- Icons -->
  {% include favicons.html %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" />

  <!-- THEME  -->
  <meta name="theme-color" content="#222222"/>

  <!-- OG SNS STUFF  -->

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sysifuscorp">
  <meta name="twitter:creator" content="@Xcellion">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://sysifuscorp.com{{ page.url }}" />

  <!-- CHANGE TITLE BASED ON PAGE -->
  {% if page.title %}
    <title>Sysifus Corp - {{ page.title }}</title>
    <meta name="title" content="Sysifus Corp - {{ page.title }}" />
    <meta property="og:title" content="Sysifus Corp - {{ page.title }}" />
    <meta name="twitter:title" content="Sysifus Corp - {{ page.title }}">
  {% else %}
    <title>Sysifus Corp - A delightful puzzle every turn.</title>
    <meta name="title" content="Sysifus Corp - A delightful puzzle every turn." />
    <meta property="og:title" content="Sysifus Corp - A delightful puzzle every turn." />
  {% endif %}

  <!-- DESCRIPTION IF IT HAS IT-->
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="A strategic, competitive, and corporate board game." />
    <meta property="og:description" content="A strategic, competitive, and corporate board game." />
    <meta name="twitter:description" content="A strategic, competitive, and corporate board game." />
  {% endif %}

  <!-- SNS IMAGE PREVIEW  -->
  {% if page.image %}
    <meta property="og:image" content="https://sysifuscorp.com{{ page.image }}">
    <meta name="twitter:image" content="https://sysifuscorp.com{{ page.image }}">
  {% else %}
    <meta property="og:image" content="https://sysifuscorp.com/assets/images/main_image.jpg">
    <meta name="twitter:image" content="https://sysifuscorp.com/assets/images/main_image.jpg">
  {% endif %}

  <!-- Stripe Checkout -->
  <script src="https://js.stripe.com/v3/"></script>
  <script type="module">
   import { handleFormSubmission } from '/js/stripe-purchase.js';
   const stripebuttons = document.querySelectorAll('.stripebutton');
   stripebuttons.forEach((stripebutton)=>{
     stripebutton.addEventListener('click', handleFormSubmission)
   });
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TP52FM2');</script>
  <!-- End Google Tag Manager -->

  <!-- ref for seb -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      //if ref exists for seb
      let params = (new URL(document.location)).searchParams;
      if (params.get("ref") === "seb"){

        //add window url params to to all href's params
        [...document.querySelectorAll('a')].forEach(e=>{
          const url = new URL(e.href)
          for (let [k,v] of new URLSearchParams(window.location.search).entries()){

            //only the correct one
            if (k === "ref" && v === "seb"){
              url.searchParams.set(k,v)
            }
          }
          e.href = url.toString();
        });
      }
      // to remove any weird query params
      // else {
      //   window.history.replaceState({}, document.title, window.location.pathname);
      // }
    }, false);
  </script>

</head>
