
<p class="image-wrapper">
  {% for image in include.img-details.images %}
    <a class="image-link {{ image.class }}" target="_blank" href="{{ image.path }}">
      {% if include.img-details.video %}
        <video autoplay loop controls>
          <source src="{{ image.path }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% else %}
        <img src="{{ image.path }}" alt="{{ include.img-details.caption }}" />
      {% endif %}
    </a>
  {% endfor %}
</p>

{% if include.img-details.captionlink %}
  <a href="{{ include.img-details.captionlink }}">
    <span class="caption">{{ include.img-details.caption }}</span>
  </a>
{% else if include.img-details.caption %}
  <span class="caption">{{ include.img-details.caption }}</span>
{% endif %}

{% if include.img-details.photocredtext && include.img-details.photocredlink %}
  <a href="{{ include.img-details.photocredlink }}">
    <span class="caption credit">{{ include.img-details.photocredtext }}</span>
  </a>
{% endif %}

<!--
NAME-OF-VARIABLE:
  caption: ""
  photocredtext: ""
  photocredlink: ""
  images:
    - path: ""
      description : ""
      class: ""
    - path: ""
      description : ""
      class: ""
 -->
