
<p class="image-wrapper">
  {% for image in include.img-details.images %}
    <a class="image-link {{ include.class }}" target="_blank" href="{{ image.path }}"><img src="{{ image.path }}" class="{{ image.class }}" alt="{{ include.img-details.caption }}" /></a>
  {% endfor %}
</p>

{% if include.img-details.caption %}
  <span class="caption">{{ include.img-details.caption }}</span>
{% endif %}

{% if include.img-details.photocredtext && include.img-details.photocredlink %}
  <a href="{{ include.img-details.photocredlink }}">
    <span class="caption credit">{{ include.img-details.photocredtext }}</span>
  </a>
{% endif %}

<!--
NAME-OF-VARIABLE:
  caption: ""
  photocredtext: ""
  photocredlink: ""
  images:
    - path: ""
      description : ""
      class: ""
    - path: ""
      description : ""
      class: ""
 -->
