<form action="https://pathofgoodintent.us19.list-manage.com/subscribe/post?u=53aa1e4968079cb91780c349a&amp;id=db90f0e795" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <input type="email" value="" name="EMAIL" class="email-input-elems email" id="mce-EMAIL" placeholder="keepintouch@email.com" required>
    <div style="display:none;" aria-hidden="true"><input type="text" name="b_53aa1e4968079cb91780c349a_db90f0e795" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="email-input-elems button">
  </div>
</form>

<p style="margin-top:20px;">
  {% include button.html buttonlink="https://www.kickstarter.com/projects/pegasusgamesnyc/welcome-to-sysifus-corp-a-cut-throat-corporate-board-game" buttontext="Follow our Kickstarter here!"%}
</p>
