<link rel="stylesheet" href="../assets/css/puzzle.css">
<div id="puzzleWrapper" class="puzzle-section">

  <!-- game board -->
  <div id="gameboardWrapper">

    <!-- start button -->
    <p id="startButtonDesktop" class="startButton is-hidden-mobile gamebutton noselect is-green noselect">Click here to start</p>

    <!-- gameboard -->
    <div id="gameboardOverflowWrapper">
      <img id="gameboard" class="gameObj fadeable deemphasized is-active" src="../assets/images/puzzle/gameboard.png" />
    </div>

    <!-- put project cards in here -->
    <div id="projectCardsWrapper"></div>

    <!-- default objects -->
    <img id="playerMeeple" class="meeple gameObj fadeable fade" src="../assets/images/puzzle/meeple1.png" />
    <img id="enemyMeeple" class="meeple gameObj fadeable fade is-hidden" src="../assets/images/puzzle/meeple1.png" />
    <img id="redBoss" class="gameObj fadeable squareCard fade" src="../assets/images/puzzle/redBoss.png" />
    <img id="perfReview" class="gameObj fadeable squareCard fade" src="../assets/images/puzzle/perfReview.png" />

    <!-- any overlay text to display -->
    <div id="gameBoardTextLocation">
      <div id="gameBoardTextWrapper" class="fade is-hidden">
        <div id="gameBoardTextButtonWrapper">
          <div id="gameBoardTextHideButton" class="noselect is-hidden">✕</div>
          <div id="gameBoardTextNextButton" class="gameBoardTextButton gamebutton noselect is-green">Next →</div>
          <div id="gameBoardTextResetButton" class="gameBoardTextButton gamebutton noselect is-hidden is-blue">⟲ Restart</div>
          <div id="gameBoardTextPrevButton" class="gameBoardTextButton gamebutton noselect is-hidden is-yellow">← Prev</div>
          <div id="gameBoardTextUndoButton" class="gameBoardTextButton gamebutton noselect is-hidden is-white">← Undo</div>
          <div id="gameBoardTextCancelButton" class="gameBoardTextButton gamebutton noselect is-hidden is-red">✕ Cancel</div>
        </div>
        <p id="gameBoardText"></p>
      </div>
    </div>

    <!-- tutorial specific -->
    <div id="arrowsWrapper">
      <img id="arrow1" class="fade arrow" src="../assets/images/puzzle/yesArrow.png" />
      <img id="arrow2" class="fade arrow" src="../assets/images/puzzle/yesArrow.png" />
      <img id="arrow3" class="fade arrow" src="../assets/images/puzzle/yesArrow.png" />
      <img id="arrow4" class="fade arrow" src="../assets/images/puzzle/noArrow.png" />
      <img id="arrow5" class="fade arrow" src="../assets/images/puzzle/noArrow.png" />
    </div>
    <div id="influenceCircleWrapper">
      <img id="influenceCircle1" class="fade influenceCircle" src="../assets/images/puzzle/influenceCircle.png" />
      <img id="influenceCircle2" class="fade influenceCircle" src="../assets/images/puzzle/influenceCircle.png" />
      <img id="influenceCircle3" class="fade influenceCircle" src="../assets/images/puzzle/influenceCircle.png" />
    </div>

  </div>

  <!-- player board -->
  <div id="playerBoard">
    <div id="playerDetails">
      <div id="movesSection" class="fadeable playerBoardSection is-active deemphasized">
        <h4 class="playerBoardElem">Moves left : <span id="movesLeftNum">3</span></h4>
        <p>"1 move" moves you by 1 tile. 2 moves, 2 tiles. etc.</p>
      </div>
      <div id="influenceSection" class="fadeable playerBoardSection is-active deemphasized">
        <h4 class="playerBoardElem">Company Influence ( <img class="playerBoardIcon" src="../assets/images/puzzle/influenceIcon.png" /> ) : <span id="companyInfNum">0</span></h4>
        <p>Used to pay for the <span class='is-bold is-monospace'>Office Politics </span> ( <img class="playerBoardIcon opIcon" src="../assets/images/puzzle/opIcon.png" /> ) cards in your hand.<br class="is-hidden-tablet-mobile"> Some effects require additional cards as added payment.<br class="is-hidden-tablet-mobile"> Capped at 5 influence.</p>
      </div>
    </div>
    <div id="handWrapper">
      <div class="fadeable playerBoardSection is-active deemphasized">
        <h4 class="playerBoardElem">Office Politics cards ( <img class="playerBoardIcon" src="../assets/images/puzzle/opIcon.png" /> ) in hand:</h4>
        <p>Special ability cards that can alter the cards on the board.<br class="is-hidden-tablet-mobile"> For use any time on your turn. Click to view details.</p>
      </div>
      <div id="handOutlineWrapper">
        <div id="handOverflowWrapper">
          <div id="opCardsWrapper"></div>
        </div>
      </div>
    </div>
    <div id="opCardDetails" class="noselect is-hidden">
      <div id="effectButtonsWrapper" class="noselect is-hidden">
        <p id="effectButton0" class="effectButton is-white gamebutton noselect">Use effect →</p>
        <p id="effectButton1" class="effectButton is-white gamebutton noselect">Use effect →</p>
      </div>
      <div id="detailsButtonWrapper" class="noselect">
        <p id="detailsButton" class="gamebutton is-white noselect">✓ Click here for more details</p>
      </div>
      <div id="detailsWrapper" class="noselect">
        <img id="nameDetail" src="../assets/images/puzzle/opCards/details/name.png" class="is-hidden detail noselect" />
        <img id="typeDetail" src="../assets/images/puzzle/opCards/details/type.png" class="is-hidden detail noselect" />
        <img id="effectDetail" src="../assets/images/puzzle/opCards/details/effect.png" class="is-hidden detail noselect" />
        <img id="costDetail" src="../assets/images/puzzle/opCards/details/cost.png" class="is-hidden detail noselect" />
        <img id="addonDetail" src="../assets/images/puzzle/opCards/details/addon.png" class="is-hidden detail noselect" />
        <img id="addon2Detail" src="../assets/images/puzzle/opCards/details/addon2.png" class="is-hidden detail noselect" />
      </div>
    </div>
  </div>
</div>
