<div id="sidebar">
  <header>
    <p class="lead lead-top">Welcome to</p>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href={% if page.layout == "post" %}"/blog"{% else %}"/"{% endif %}>
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
      <img id="logo-transparent" src="/assets/images/logo_transparent.png" />
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead lead-bot">{{ site.description }}</p>
    {% include stripe-button.html %}
  </header>
  <div>
    {% include sidebar-nav-links.html %}
    {% include sidebar-icon-links.html %}
    {% include copyright.html %}
  </div>
</div>
