<div id="sidebar">
  <header>
    <p class="lead lead-top">Welcome to</p>
    <div class="site-title">
      <a href="/">
        {{ site.title }}
      </a>
      <img class="logo-transparent" src="/assets/images/logo_transparent.png" />
    </div>
    <p class="lead lead-bot">{{ site.description }}</p>
    {% include stripe-button.html classes="is-fat" %}
  </header>
  <div>
    {% include sidebar-nav-links.html %}
    {% include sidebar-icon-links.html %}
    {% include copyright.html %}
  </div>
</div>

<div id="sidebar-open">
  <span id="sidebarlines" class="sidebaricon" onclick="toggleNav()">☰</span>
  <span id="sidebarx" class="sidebaricon" onclick="toggleNav()">×</span>
</div>


<script>

  function toggleNav() {
    document.getElementById("sidebar-open").classList.toggle("is-active");
    document.getElementById("sidebar").classList.toggle("is-active");
    // document.getElementsByClassName("container").classList.toggle("is-active");
  }

</script>
