<section class="signup">
  <h2>Play the game for free right now</h2>
  <p>
    Sign up for our newsletter below and we will automatically send you a FREE copy of the print-and-play version.
  </p>
  <p>
    Try the game out for yourself. No hard feelings if you decide the game isn't for you.
  </p>

  <form action="https://sysifuscorp.us19.list-manage.com/subscribe/post?u=53aa1e4968079cb91780c349a&amp;id=db90f0e795" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email-input-elems email" id="mce-EMAIL" placeholder="keepintouch@email.com" required>
      <div style="display:none;" aria-hidden="true"><input type="text" name="b_53aa1e4968079cb91780c349a_db90f0e795" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="email-input-elems button">
    </div>
  </form>

  <br>

  <p>
    Or if you like what you've read and want to purchase a copy, click on the button below.
  </p>

  {% include stripe-button.html %}

</section>
