---
---

@import "hydeout";

body {
  min-width: 0 !important;
}

.site-title{
  margin-bottom:0px !important;
}

.index #sidebar {
  padding-bottom:2rem;
}

.is-hidden-mobile {
  display:none !important;
  @media (min-width: $large-breakpoint) {
    display:initial;
  }
}

.image-wrapper{
  text-align:center;
  display:flex;
  justify-content:space-between;
}

.image-link{
  display:inline-block;
  margin:auto;
}
.image-link:not(:last-child){
  margin-right:15px;
}

img {
  margin:auto;
  margin-bottom:0px;
}

img.is-half{width:50%;}
img.is-third{width:32%;}
img.is-fourth{width:25%;}

.caption {
  font-style: italic;
  display: block;
  margin-top: -10px;
  font-size: .75em;
  margin-bottom: 25px;
  text-align: center;
}

.caption.credit {
  margin-top: -25px;
}

.has-shadow{
  box-shadow:1px 1px 5px grey;
}

//<editor-fold>------------------------------------------SIDE BAR---------------------------------------

//mobile
#sidebar-nav-links > a {
  display:inline-block !important;
  margin:0 5px 0 5px !important;

  //desktop
  @media (min-width: $large-breakpoint) {
    display:block !important;
    margin:0 !important;
  }
}

#sidebar-icon-links {
  margin-bottom:10px;
}

//desktop (remove sidebar bottom anchor)
@media (min-width: $large-breakpoint) {
  #sidebar {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    padding-top:$section-spacing;
    padding-left:$section-spacing * 2;
    padding-right:$section-spacing * 2;
    padding-bottom:$section-spacing * 2;
  }
}

//</editor-fold>

//<editor-fold>------------------------------------------MAIN PAGE (Buttons + Images)---------------------------------------

//mobile
#main-image-wrapper {
  text-align:center;

  //desktop
  @media (min-width: $large-breakpoint) {
    text-align:left;
  }
}

.main-image {
  //mobile
  margin: 5px;

  //desktop
  @media (min-width: $large-breakpoint) {
    margin:0 10px 10px 0;
  }
  width: calc(32% - 15px);
  display: inline-block;
}

input, button {
  border-radius: 5px !important;
  outline: 0 !important;
}

input[type="text"], input[type="email"] {
  width:calc(100% - 140px);
}

input[type="submit"], button {
  color: #222 !important;
  transition: clear;
}

input[type="submit"]:hover, button:hover {
  background: #222 !important;
  border-color: #222 !important;
  color: #FFF !important;
}

//</editor-fold>
