---
---
$sidebar-width: 23rem !default;
@import "hydeout";

//<editor-fold>------------------------------------------SIDE BAR---------------------------------------

#sidebar {
  background-color: rgb(75,75,75);
  background-image: linear-gradient(to bottom, rgb(75,75,75), #000);

  .lead-top {
    margin-bottom:-10px;
  }

  .lead-bot {
    border-top:1px solid white;
  }

  .site-title {
    font-family: "bodoni-fb-compressed",serif;
    font-weight: 700;
    font-style: normal;
    margin: auto;

    a, {
      font-size:2.8rem;
    }

    a, img {
      border-radius: 0;
      display: inline-block;
    }
  }

  #logo-transparent {
    width: 2.5rem;
  }
}

//mobile
#sidebar-nav-links > a {
  display:inline-block !important;
  margin:0 5px 0 5px !important;

  //desktop
  @media (min-width: $large-breakpoint) {
    display:block !important;
    margin:0 !important;
  }
}

#sidebar-icon-links {
  margin-bottom:10px;
}

//desktop (remove sidebar bottom anchor)
@media (min-width: $large-breakpoint) {
  #sidebar {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    padding-top:$section-spacing;
    padding-left:$section-spacing * 2;
    padding-right:$section-spacing * 2;
    padding-bottom:$section-spacing * 2;
  }
}

//</editor-fold>

//<editor-fold>------------------------------------------MAIN PAGE---------------------------------------

.content {
  max-width:none;
}

img {
  border-radius: 10px;
}

body {
  min-width: 0 !important;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000, #000);
}

//graphics and steps
.main-steps-block {
  text-align:center;
  margin:auto;

  @media (min-width: $large-breakpoint) {
    border-bottom:0;
    display:inline-block;
    width:32%;
    padding:10px;
    text-align:left;
  }
}
#main-steps-container .main-steps-block:not(:last-child){
  border-bottom:1px solid #eee;
  margin-bottom:25px;
  padding-bottom:10px;

  @media (min-width: $large-breakpoint) {
    border-right:1px solid #eee;
    border-bottom:0;
    padding-bottom:0;
    margin-bottom:0;
  }
}

.main-steps-text {
  font-weight:lighter;
}

.site-title{
  margin-bottom:0px !important;
}

.is-hidden-mobile {
  display:none !important;
  @media (min-width: $large-breakpoint) {
    display:initial;
  }
}

.image-wrapper{
  text-align:center;
  display:flex;
  justify-content:space-between;
}

.image-link{
  display:inline-block;
  margin:auto;
}
.image-link:not(:last-child){
  margin-right:15px;
}

img {
  margin:auto;
  margin-bottom:0px;
}

img.is-threequarter{width:75%;}
img.is-half{width:50%;}
img.is-third{width:32%;}
img.is-fourth{width:25%;}

.caption {
  font-style: italic;
  display: block;
  margin-top: -10px;
  font-size: .75em;
  margin-bottom: 25px;
  text-align: center;
}

.caption.credit {
  margin-top: -25px;
}

.has-shadow{
  box-shadow:1px 1px 5px grey;
}

.has-padding{
  padding:15px;
}

.left-aligned{
  margin:0;
}

.font-bodoni{
  font-family: "bodoni-fb-compressed",serif;
}

//</editor-fold>

//<editor-fold>------------------------------------------MAIN PAGE (Buttons + Images)---------------------------------------

//mobile
#main-image-wrapper {
  text-align:center;

  //desktop
  @media (min-width: $large-breakpoint) {
    text-align:left;
  }
}

.main-image {
  //mobile
  margin: 5px;

  //desktop
  @media (min-width: $large-breakpoint) {
    margin:0 10px 10px 0;
  }
  width: calc(32% - 15px);
  display: inline-block;
}

input, button {
  border-radius: 5px !important;
  outline: 0 !important;
}

input[type="text"], input[type="email"] {
  width:calc(100% - 140px);
}

input[type="submit"], button {
  color: #222 !important;
  transition: clear;
}

input[type="submit"]:hover, button:hover {
  background: #222 !important;
  border-color: #222 !important;
  color: #FFF !important;
}

//</editor-fold>
