---
---
$sidebar-width: 23rem !default;
$sidebar-smaller-width: 15rem !default;
$mid-breakpoint: 75rem !default;
$large-breakpoint: 55rem !default;

@import "hydeout";

//<editor-fold>------------------------------------------GLOBAL---------------------------------------

h2{
  margin-bottom:2rem;
}

img {
  border-radius: 10px;
}

body {
  min-width: 0 !important;
  background-color:white;
  background-image:none;
}

article {
  padding-top: 2rem;
  border-top: 1px solid #e5e5e5;
  margin-top: 2rem;
}

.is-hidden{
  display:none !important;
}

.is-invisible{
  opacity:0 !important;
}

is-display-flex{
  display:flex;
}

.is-hidden-mobile {
  display:none !important;
  @media (min-width: $large-breakpoint) {
    display:initial !important;
  }
}

.is-hidden-desktop {
  @media (min-width: $large-breakpoint) {
    display:none !important;
  }
}

.left-aligned{
  margin:0;
}

.margin-bottom-zero {
  margin-bottom:0 !important;
}

.no-select {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.no-select:focus {
    outline: none !important;
}

//</editor-fold>

//<editor-fold>------------------------------------------BUTTONS & INPUTS---------------------------------------

.stripebutton{
  text-decoration:none;
}

.buttonlink{
  background-color:#ef5559;
  color:white;
  text-decoration:none;
  padding:10px;
  border-radius:5px;
  opacity:1;
  display:block;
  margin-bottom:10px;
  text-align:center;
  cursor:pointer;
  position:relative;

  //desktop
  @media (min-width: $large-breakpoint) {
    display:inline-block;
  }
}

.buttonlink.is-yellow, .button.is-yellow{background-color:#fbc95f;color:black;}
.buttonlink.is-blue, .button.is-blue{background-color:#8b8ec5;}
.buttonlink.is-green, .button.is-green{background-color:#81c99e;}
.buttonlink.is-fat, .button.is-fat{padding:20px;}
.buttonlink.is-transparent, .button.is-transparent{background-color:white;}

#whiteStuckBackground{
  background-color:white;
  z-index:1;
}
#whiteStuckBackground:hover, #whiteStuckBackground:active{
  opacity:1 !important;
}
.buttonlink.is-fat.is-stuck {
  position: fixed;
  width: 100%;
  z-index: 9;
  margin-bottom: 0;
  border-radius: 0;
  left: 0;
  bottom: 0;
}

.buttonlink:not(.is-transparent):hover{
  text-decoration: none;
  opacity:.85;
}

.buttonContent{
  display:inline-block;
  vertical-align:middle;
}

.buttonSpinnerWrapper{
  justify-content:center;
  align-items:center;
  left:0;
  top:0;
  display:flex;
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
}

.buttonContent.ld{
  display:none;
}

.buttonContent.ld.is-active{
  display:block !important;
}

input, button {
  border-radius: 5px !important;
  outline: 0 !important;
}

input[type="text"], input[type="email"] {
  width:calc(100% - 106px);

  //desktop
  @media (min-width: $large-breakpoint) {
    width:50%;
  }
}

input[type="submit"], button {
  color: #222 !important;
  transition: clear;
}

input[type="submit"]:hover, button:hover {
  background: #222 !important;
  border-color: #222 !important;
  color: #FFF !important;
}

//</editor-fold>

//<editor-fold>------------------------------------------SIDE BAR---------------------------------------


#sidebar {
  display:none !important;
  z-index: 999;
  text-align:center;
  position:fixed;
  width:100vw;
  height:100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(75,75,75);
  background-image: linear-gradient(to bottom, rgb(75,75,75), #000);

  .lead-bot {
    border-top:1px solid white;
    text-align:left;
  }

  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    width: $sidebar-smaller-width !important;
  }

  @media (min-width: $large-breakpoint) {
    text-align:left;
    width: $sidebar-width;
    position:relative!important;
    display:flex !important;
  }
}
#sidebar.is-active{display:flex !important;}
#sidebar header ~ *, #sidebar header ~ nav, #sidebar p.lead {
  display:block !important;
}

.site-title {
  font-family: "bodoni-fb-compressed",serif !important;
  font-weight: 700;
  font-size:3.25rem !important;
  font-style: normal;
  margin: auto;
  text-align:left;
  margin-bottom:0px !important;

  p, a {
    font-size:2.8rem;
    margin-bottom:0;
    color:white;
  }

  p, a, img {
    border-radius: 0;
    display: inline-block;
  }
}

.logo-transparent {
  width: 2.5rem;

  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    float: right;
    margin-top: -3.2rem;
  }
}

.lead-top {
  margin-bottom:-10px;
  text-align:left;
}

#sidebar-nav-links > a {
  display:block !important;
  margin:0 !important;
  text-align:center;
  font-size:1.75rem;

  @media (min-width: $large-breakpoint) {
    text-align:left;
    font-size:1rem;
  }
}

#sidebar .site-title .back-arrow{
  margin-right:0 !important;
}

#sidebar-icon-links {
  margin-bottom:10px;
}

//<editor-fold>------------------------------------------SIDEBAR TOGGLE-------------------------------------------

//toggle sidebar on off for mobile
#sidebar-open{
  position:fixed;
  overflow:hidden;
  top:15px;
  right:15px;
  height:35px;
  width:35px;
  z-index:999;
  @media (min-width: $large-breakpoint) {
    display:none !important;
  }
}

.sidebaricon{
  cursor:pointer;
  color:#808080;
  line-height:35px;
  vertical-align:middle;
  opacity:.8;
  +:hover{
    opacity:1;
  }
}

#sidebarx {
  font-size:50px;
  display:none;
}

#sidebarlines {
  font-size:30px;
  margin-left:2px;
  position:absolute;
  top:2px;
}

#sidebar-open.is-active{
  #sidebarlines{
    display:none !important;
  }
  #sidebarx{
    display:block !important;
  }
}

//</editor-fold>

//</editor-fold>

//<editor-fold>------------------------------------------CONTAINER---------------------------------------

.container{
  padding-top:39px;
  overflow-x:hidden;

  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    padding-left:$section-spacing !important;
    padding-right:$section-spacing !important;
  }

  @media (min-width: $large-breakpoint) {
    padding-top:$section-spacing !important;
    padding-left:$section-spacing * 2;
    padding-right:$section-spacing * 2;
    padding-bottom:$section-spacing * 2;
  }
}

.container > header{
  margin-bottom:0;
  margin-top:0.5rem;
  padding-top:5px;
  color:black;
}

.content {
  max-width:none;
}

//</editor-fold>

//<editor-fold>------------------------------------------IMAGE-------------------------------------------

.image-wrapper{
  text-align:center;
  @media (min-width: $large-breakpoint) {
    text-align:left;
    display:flex;
  }
}

.image-link{
  display:inline-block;
  margin:auto;
  @media (min-width: $large-breakpoint) {
    margin:0;
  }
}

.image-link:not(:last-child){
  margin-bottom:10px;
  @media (min-width: $large-breakpoint) {
    margin-right:15px;
    margin-bottom:0px;
  }
}
.image-link.left-align{margin:0;}
.image-link.is-threequarter{@media (min-width: $large-breakpoint) {width:75%;}}
.image-link.is-half:not(:only-child):not(.ignore-mobile){width:50%;}
.image-link.is-half{@media (min-width: $large-breakpoint) {width:50%;}}
.image-link.is-third{width:32%;}
.image-link.is-fourth:not(:only-child){width:25%;}
.image-link.is-fourth{@media (min-width: $large-breakpoint) {width:25%;}}
.image-link.is-sharp > img{border-radius:0 !important;}
.image-link.black-background{background-color:black;}
.image-link.is-full{width:100%;}
.image-link.has-shadow > img{
  box-shadow:1px 1px 5px grey;
}
.image-link.has-padding > img{
  padding:15px;
}

img {
  width:100%;
  margin-bottom:0px;
}

.caption {
  font-style: italic;
  display: block;
  margin-top: -10px;
  font-size: .75em;
  margin-bottom: 25px;
  text-align:center;
  @media (min-width: $large-breakpoint) {
    text-align:left;
  }
}

.caption.credit {
  margin-top: -25px;
}

//</editor-fold>

//<editor-fold>------------------------------------------MAIN PAGE---------------------------------------

.flipBox{
  position: absolute;
  z-index: 1;
  color: white;
  transform: rotate(-4.5deg);
  font-size:10px;
  opacity:.75;
  left: 20%;
  top: 12%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  @media (min-width: $large-breakpoint) {
    font-size:small;
    left: 35%;
    top: 17%;
  }
}
.flipBox.is-flipped{
  top:11%;
  @media (min-width: $large-breakpoint) {
    top: 15%;
  }
}

.heroImage{
  cursor: pointer;
  position:relative;
  margin-left: -2rem;
  background-color:black;
  width:100vw;
  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    width: calc(100vw - #{$sidebar-smaller-width}) !important;
    margin-left: -$section-spacing !important;
  }
  @media (min-width: $large-breakpoint) {
    margin-left: -$section-spacing * 2;
    margin-top: -$section-spacing;
    height: 100vh;
    width: calc(100vw - #{$sidebar-width});
  }
}

.heroImage img{
  border-radius: 0;
  object-fit: contain;
  @media (min-width: $large-breakpoint) {
    object-fit: cover;
    height: 100vh;
  }
}

.heroImage .is-invisible{
  position:absolute;
  z-index:-999;
  top:0;
}

//graphics and steps
.main-steps-block {
  text-align:center;
  margin:auto;

  @media (min-width: $large-breakpoint) {
    border-bottom:0;
    display:inline-block;
    width:32%;
    padding:10px;
    text-align:left;
  }
}

#main-steps-container .main-steps-block:not(:last-child){
  border-bottom:1px solid #eee;
  margin-bottom:25px;
  padding-bottom:10px;

  @media (min-width: $large-breakpoint) {
    border-right:1px solid #eee;
    border-bottom:0;
    padding-bottom:0;
    margin-bottom:0;
  }
}

.main-steps-text {
  font-weight:lighter;
}

//mobile
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

//desktop
@media (min-width: $mid-breakpoint) {
  .video-container {
    position: relative;
    height: 0;
    display:inline-block;
  }
  .video-container.is-third{
    width: 30%;
    padding-bottom: 16.95%;
  }
  .video-container.is-half{
    width: 47%;
    padding-bottom: 26.55%;
  }
  .video-container.is-threequarter{
    width: 75%;
    padding-bottom: 42.2%;
  }
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gameIconsWrapper{
  display:block;
  text-align:center;
  vertical-align: bottom;
  margin-bottom: 20px;

  @media (min-width: $large-breakpoint) {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 160px;
  }

  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    height:auto !important;
    flex-wrap:wrap;
  }
}

.gameIconWrapper{
  text-align:center;
  display:inline-block;
  width:40vw;

  @media (min-width: $large-breakpoint) {
    .gameIconWrapper{
      width:200px !important;
    }
  }
  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    width:auto;
  }
}

.gameIcon{
  width:75px;
  height:75px;
  margin:auto;
  border-radius:0 !important;

  @media (min-width: $large-breakpoint) {
    width:100px !important;
    height:100px !important;
  }

  @media (min-width: $large-breakpoint) and (max-width: $mid-breakpoint){
    width:75px !important;
    height:75px !important;
    margin:10px;
  }
}

.gameIconText{
  margin-top:20px;
  line-height:100%;
}


//mobile
#main-image-wrapper {
  text-align:center;

  //desktop
  @media (min-width: $large-breakpoint) {
    text-align:left;
  }
}

.main-image {
  //mobile
  margin: 5px;

  //desktop
  @media (min-width: $large-breakpoint) {
    margin:0 10px 10px 0;
  }
  width: calc(32% - 15px);
  display: inline-block;
}

//</editor-fold>

//<editor-fold>------------------------------------------PAGINATION---------------------------------------

.pagination-wrapper {
  display:flex;
  justify-content: space-between;
  @media (min-width: $large-breakpoint) {
    justify-content: left !important;
  }
}

.pagination-item{
  display:inline-block !important;
  box-shadow:none !important;
  background:none !important;
  width:auto !important;
  border-radius:10px !important;
}

.pagination-item:last-child {
  @media (min-width: $large-breakpoint) {
    margin-left:50px;
  }
}

//</editor-fold>
