---
---
$sidebar-width: 23rem !default;
$sidebar-smaller-width: 15rem !default;
$mid-breakpoint: 55rem !default;
$large-breakpoint: 1500px !default;
$section-spacing: 2em !default;

//<editor-fold>------------------------------GLOBAL---------------------------------------

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.deemphasized.is-active{
  opacity:.25 !important;
}

span.is-red {color: #ef5559;}
span.is-bold {font-weight:bolder;}
span.is-monospace {
  font-family:monospace;
  text-transform:uppercase;
  font-size:.9em;
}
span.not-monospace{
  font-family:initial !important;
}

.fade:not(.is-fixed) {
  opacity:0;
  position:absolute;
  display: block;
  z-index:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.fade.is-active {
  opacity: 1;
  z-index:9;
}

.gamebutton{
  text-decoration: none;
  color:white;
  font-family:monospace;
  text-transform:uppercase;
  cursor:pointer;
  position: absolute;
  border-radius: 5px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 10px #7e7e7e;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    font-size: .9em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  //tablet
  @media only screen and (min-width: $mid-breakpoint) and (max-width: $large-breakpoint){
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  //desktop
  @media only screen and (min-width: $large-breakpoint) {
    font-size: .8em;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

:not(span).is-red{background-color: #ef5559 !important; color: white !important;}
:not(span).is-yellow{background-color:#fbc95f !important;color:black !important;}
:not(span).is-blue{background-color:#8b8ec5 !important; color: white !important;}
:not(span).is-green{background-color:#81c99e !important; color: white !important;}
:not(span).is-white{background-color:#FFFFFF !important;color:black !important;}

//</editor-fold>

//<editor-fold>------------------------------PUZZLE WRAPPER---------------------------------------

#puzzleWrapper{

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    width:100vw;
    margin-left:-$section-spacing;
  }

  //tablet
  @media only screen and (min-width: $mid-breakpoint) and (max-width: $large-breakpoint){
    margin-left:0;
    width: 100% !important;
  }

  //desktop
  @media only screen and (min-width: $large-breakpoint) {
    margin-left:0;
    width: 85%;
  }
}

#startButton{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999;
  padding-top:10px;
  padding-bottom:10px;
  width: fit-content;
}

#startText a {
  cursor:pointer;
}

//</editor-fold>

//<editor-fold>------------------------------GAME BOARD TEXT---------------------------------------

#gameBoardTextWrapper{
  padding-bottom:$section-spacing;
  background-color: white;
  color: black;
  z-index:99;
  width:100%;
  position:unset;

  //desktop
  @media only screen and (min-width: $large-breakpoint) {
    inline-size: fit-content !important;
    max-width:40%;
    padding: $section-spacing / 2;
    position:absolute;
    box-shadow:0 0px 15px 3px grey;
    border-radius: 10px;
    transform:translate(-50%,-50%);
  }
}

#topTextWrapper{
  min-height:143px;
}

#gameBoardText{
  margin:0;
  min-height:88px;
  padding-top:$section-spacing / 2;

  //desktop
  @media only screen and (min-width: $large-breakpoint) {
    min-height:auto;
    padding-top:0;
  }

  > h1, > p {
    text-align:center;
  }

  >h1 {
    margin-top: 0;
  }
}

#gameBoardTextButtonWrapper{
  display:flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.gameBoardTextButton{
  color: white;
  bottom: 0;
  position:unset;

  //desktop
  @media only screen and (min-width: $large-breakpoint) {
    transform: translate(25%, 50%);
    position:absolute;
  }
}

#gameBoardTextHideButton {
  height: fit-content;
  width: fit-content;
  color: black;
  top: 0%;
  left: 95%;
  padding: 0px;
  transform: translate(-50%,0);
  margin: 0;
  position:absolute;
  cursor:pointer;
  font-size:1.25em;
}

#gameBoardTextPrevButton, #gameBoardTextCancelButton, #gameBoardTextUndoButton{
  left: -40px;
}

#gameBoardTextResetButton, #gameBoardTextNextButton{
  right: -5px;
}

//</editor-fold>

//<editor-fold>------------------------------GAME OBJECTS---------------------------------------

.gameObj{
  position: absolute;
}

#gameboardWrapper{
  position: relative;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  border-top: 2px black dashed;
}

#gameboardOverflowWrapper{
  overflow: hidden;
  position:relative;
  height:fit-content;
}

#gameboard{
  bottom:0;
  left:0;
  opacity:.75;
  position:unset;
}

.meeple {
  z-index:10 !important;
  width:6.5% !important;
}

#playerMeeple{
  top:50%;
  left:10%;
}

#enemyMeeple{
  top:52%;
  left:70%;
}

.squareCard{
  position:relative;
  width: 19%;
  z-index: 8;
}

#redBoss{
  left: 0.5%;
  top: 57%;
}

#perfReview{
  left:80.5%;
  top: 57%;
}

.projectCardOuterWrapper{
  width:fit-content;
  height:fit-content;
}

//<editor-fold>------------------------------TUTORIAL SPECIFIC---------------------------------------

.arrow{width:20%;position: absolute;}
#arrow1{left: 10%;top: 49.5%;transform: rotate(-45deg);}
#arrow2{left: 30%;top: 49.5%;transform: rotate(45deg);}
#arrow3{left: 50%;top: 49.5%;transform: rotate(-45deg);}
#arrow4{left: 20%;top: 57%;transform: rotate(90deg);}
#arrow5{left: 47%;top: 28%;transform: rotate(180deg);}

.influenceCircle{width:10%;position: absolute;}
#influenceCircle1{left: 18%;top: 8.5%;}
#influenceCircle2{left: 71.5%;top: 8.5%;}
#influenceCircle3{left: 51.5%;top: 79.5%;}

//</editor-fold>

//</editor-fold>

//<editor-fold>------------------------------PLAYER BOARD---------------------------------------

#playerBoard{

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    padding-left:$section-spacing;
    padding-right:$section-spacing;
  }

  //tablet and mobile
  @media only screen and (max-width: $large-breakpoint){
    display:block !important;
  }

  //desktop
  @media only screen and (min-width: $large-breakpoint) {
    display:flex;
    justify-content: space-between;
    padding-left:0;
    padding-right:0;
  }
}

.playerBoardSection{
  > p {
    font-size:.75em;
    margin-top: 0.5em;
  }
  > p:not(:last-child) {
    margin-bottom:0;
  }
}

.playerBoardElem{
  margin-bottom:0;
}

.playerBoardElem > span{
  float:right;
}

.playerBoardIcon {
  width:1em;
  display:inline;
  border-radius:0;
  vertical-align: text-bottom;
}

.projectIcon {
  border-radius: 3px;
}

#playerDetails{
  order:0;
}

#handWrapper{
  order:1;

  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    margin-left:1em;
  }

  //tablet
  @media only screen and (min-width: $mid-breakpoint) and (max-width: $large-breakpoint){
    margin-left:0;
  }
}

#handOutlineWrapper{

  //tablet
  @media only screen and (min-width: $mid-breakpoint) and (max-width: $large-breakpoint){

  }

  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    margin-top: 0.5em;
  }
}

#handOverflowWrapper{
  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    overflow-y:hidden;
    margin-right: -200px;
    padding-right: 200px;
    margin-top: -100px;
    padding-top: 100px;
  }
}

#opCardsWrapper{
  position:relative;
  display:block;
  height:12em;
  margin-top:-4.5em;
  width: 100vw;
  margin-left: -$section-spacing;
  overflow-y:hidden;

  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    overflow-y:visible;
    margin-left: 0;
    width: 23.25em;
  }
}

#opCardsShadow{
  box-shadow:0 4px 2px -2px grey;
}

.opCard{
  width:35%;
  top:4.5em;
  position:absolute;
  box-shadow: 2px 2px 2px #7e7e7e;
  cursor:pointer;
}

.opCard.disabled{
  cursor:not-allowed !important;
}

.opCard.is-fixed{
  position:fixed !important;
  top:50% !important;
  left:50% !important;
  transform:translate(-50%,-50%) !important;
  z-index:999 !important;
  opacity:1 !important;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    width:75vw !important;
  }

  @media only screen and (min-width: $mid-breakpoint) {
    width:25vw !important;
  }

}

//</editor-fold>

//<editor-fold>------------------------------OP CARD DETAIL VIEW---------------------------------------

#opCardDetails{
  position:fixed !important;
  top:50% !important;
  left:50% !important;
  transform:translate(-50%,-50%) !important;
  position:relative;
  z-index:999 !important;
  cursor:pointer;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    width:95vw !important;
    height:105vw !important;
  }

  @media only screen and (min-width: $mid-breakpoint) {
    width:35vw !important;
    height:35vw !important;
  }
}

#effectButton0{
  top:67.5%;
}

#effectButton1{
  top:90%;
}

.effectButton{
  left:4%;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    font-size:0.75em;
    transform: translate(-18%, -8%);
    padding-top: 1px !important;
    padding-bottom: 1.5px !important;
  }

  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    font-size: 0.8em;
    transform: translate(2%, -15%);
  }
}

#detailsButton, .effectButton{
  position: absolute;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index:2;
}

#detailsButton{
  top: 0;
  right: 0;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    transform: translate(-15.5%, 145%);
    top: unset;
    bottom: 0;
  }

  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    transform: translate(-25%, -15%);
  }
}

#detailsWrapper{
  height:100%;

  img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:0;
  }
}

#nameDetail{z-index:10;}

//</editor-fold>

//<editor-fold>------------------------------PUZZLE SPECIFIC--------------------------------------

.puzzleButtonWrapper{
  display:flex;
  flex-direction:column;
  margin-top:1rem;
}

.puzzleButton{
  position:relative !important;
  padding:1rem !important;
  margin-bottom:1rem;
  text-align:center;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

.puzzleButton.disabled{
  cursor:not-allowed !important;
  opacity: 0.33 !important;
}

.rotateButtonsWrapper, .numberDomWrapper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  cursor:default;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.rotateButtonsWrapper.disabled > div, .rotateButtonsWrapper > div.disabled{
  opacity:0.25 !important;
  cursor:not-allowed !important;
}

.rotateButtonsWrapper > div, .numberDom{
  background-color: white;
  box-shadow: 0px 0px 10px #7e7e7e;
  border-radius: 5px;
  height: fit-content;
}

.rotateButtonsWrapper > div{
  cursor:pointer;

  //mobile
  @media only screen and (max-width: $mid-breakpoint){
    font-size: 1em;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  //desktop
  @media only screen and (min-width: $mid-breakpoint) {
    font-size: 1.25em;
    padding: 10px;
    padding-top: 5px;
  }
}

.numberDom{
  font-size: 1.25em;
  padding: 10px 15px;
  line-height: 100%;
}

.rotateButton.cw{
  -moz-transform:    scaleX(-1); /* Gecko */
  -o-transform:      scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform:         scaleX(-1); /* Standard */
  filter: FlipH;                 /* IE 6/7/8 */
}

//</editor-fold>
